@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: rgb(223, 243, 250);
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;

    /* font: normal 16px "Roboto", sans-serif; */   
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.head-logo {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 10px; */
}

/* box model */

.container {
    max-width: 1000px;
    min-width: 800px;
    margin: auto;
    padding-top: 30px;
}

/* .social {
    background: lightgreen;
    /* padding: 15px; */
    /* padding: 15px 10px 30px 40px; */
    /* padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin: 5px;

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue;
    border-left-color: blue;
} */ 

/* .box-model > div {
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
} */

.bg-red {
    background: lightcoral;
}

.bg-yellow {
    background: lightgoldenrodyellow;
}

.bg-green {
    background: lightgreen;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #484a4d;
    margin-bottom: 10px;
}

.schedule {
    width: 100%;
}

.schedule td, .schedule th {
    padding-bottom: 10px;
    text-align: left;
}

.schedule td:nth-child(2), .schedule td:nth-child(3), .schedule td:nth-child(4), .schedule td:nth-child(5) {
    color: #49658f;
}

/* .schedule tr:nth-child(odd) {
    background: red;
} */

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #49658f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: rgba(208, 255, 249, 0.581);
    border-radius: 5px;
    /* border-bottom: 1px solid #ccc; */
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    color: #000;
    padding: 15px 5px 10px;
    outline: none;
    font-family: inherit;
    resize: none;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.sendbtn {
    background: #1111119f;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.sendbtn:hover {
    opacity: 0.9;
}

/* Position */

/* .position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: lightcoral;
} */